<section class="main input-class">
  <div class="text-al-center p-b-20 ">
    <p class="black-24 fw-700">Añadir beneficiario</p>
  </div>
  <div class="row">
    <div class="col-sm-6 col-12">
      <p class="black-16 fw-700">Datos personales</p>
      <!--       <div class="img-box">
        <label for="img" class="fake-btn-img">
          <img src="/assets/images/upload-img.svg">
          <div class="overlay">
            <p class="wht-20">subir foto</p>
          </div>
        </label>
        <div class="input-box">
          <input type="file" id="img" name="img" accept="image/*">
        </div>
      </div> -->

      <div class="img-box">
        <div *ngIf="beneficiary.haveImage == false" class="input-group mb-3" style="    justify-content: center;">
          <!-- file input, accepts images only. Detect when file has been picked/changed with Angular's native (change) event listener -->

          <label *ngIf="source.length == 0">
            <input (change)="updateSource($event)" type="file" id="img" name="img" accept="image/jpeg" class="input-box">
            <label for="img" class="fake-btn-img">
              <img src="/assets/images/upload-img.svg">
              <div class="overlay">
                <p class="wht-20">subir foto</p>
              </div>
            </label>
          </label>


          <!-- img placeholder when a file has been picked. shows only when 'source' is not empty -->
          <label *ngIf="source.length > 0">
            <div class="">
              <img class="profile-img" *ngIf="source.length > 0" [src]="source">
            </div>
            <div class="p-t-20 just-center">
              <button (click)="cancelImage()" class="delete-btn">
                Eliminar</button>
            </div>
          </label>
        </div>

        <div *ngIf="beneficiary.haveImage == true" class="input-group mb-3">
          <div class="">
            <img class="profile-img" [src]="beneficiary.imageBlob">
          </div>
          <div class="p-t-20 just-center">
            <button (click)="cancelImage()" class="delete-btn">
              Eliminar</button>
          </div>
        </div>
      </div>
      <div>
        <div class="input-field">
          <label class="p-t-10" for="first_name">Nombre(s)</label>
          <input [(ngModel)]="beneficiary.name" placeholder="" id="first_name" type="text" class="validate">
        </div>
      </div>
      <div>
        <div class="input-field">
          <label class="p-t-10" for="paterno">Apellido paterno</label>
          <input [(ngModel)]="beneficiary.lastName" placeholder="" id="paterno" type="text" class="validate">
        </div>
      </div>
      <div>
        <div class="input-field">
          <label class="p-t-10" for="materno">Apellido materno</label>
          <input [(ngModel)]="beneficiary.motherLastName" placeholder="" id="materno" type="text" class="validate">
        </div>
      </div>
      <div class="radio-inputs">
        <p class="black-16 fw-700">Sexo</p>
        <div class="display-flex" ngbRadioGroup name="radioBasic" [(ngModel)]="beneficiary.gender">
          <label ngbButtonLabel class="input-box">
            <input ngbButton type="radio" [value]="0"> Femenino
          </label>
          <label ngbButtonLabel class="input-box p-l-15">
            <input ngbButton type="radio" [value]="1"> Masculino
          </label>
        </div>
      </div>
      <div class="p-t-10">
        <div class="input-box">
          <label class="black-16 fw-700">Fecha de nacimiento</label>
          <div>
            <!-- <div class="input-group">
              <input [(ngModel)]="modelCustomerBirthDay" id="dateOfBirth" class="form-control" placeholder="yyyy-mm-dd"
                name="dp" ngbDatepicker #dp="ngbDatepicker" required>
              <div class="input-group-append">
                <button class="btn btn-outline-secondary" (click)="dp.toggle();" type="button"><i
                    class="fa fa-calendar"></i></button>
              </div>
            </div> -->

            <div class="input-group">
              <input [(ngModel)]="modelCustomerBirthDay" id="dateOfBirth" class="form-control" placeholder="yyyy-mm-dd"
                name="dp" ngbDatepicker #dp="ngbDatepicker" required>
              <div class="input-group-append">
                <button class="btn btn-outline-secondary" (click)="dp.toggle();" type="button"><i
                    class="fa fa-calendar"></i></button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div>
        <div class="input-field">
          <label class="p-t-10" for="icon_telephone1">Teléfono 1</label>
          <input [(ngModel)]="beneficiary.phone1" matInput mask="000-000-0000" id="icon_telephone1" type="tel"
            class="validate">
        </div>
      </div>
      <div>
        <div class="input-field">
          <label class="p-t-10" for="icon_telephone">Teléfono 2</label>
          <input [(ngModel)]="beneficiary.phone2" matInput mask="000-000-0000" id="icon_telephone2" type="tel"
            class="validate">
        </div>
      </div>
      <div>
        <label class="black-16 fw-700 p-t-10">Estado civil</label>
        <!-- <div ngbDropdown  placement="bottom-right" class="d-inline-block"> -->
        <div ngbDropdown placement="top-right" class="d-inline-block">
          <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>
            <span ngbDropdownItem *ngIf="beneficiary.civilStatus == -1" disabled>Escoger estado civil</span>
            <span ngbDropdownItem *ngIf="beneficiary.civilStatus == 0">Soltero/a</span>
            <span ngbDropdownItem *ngIf="beneficiary.civilStatus == 1">Casado/a</span>
            <span ngbDropdownItem *ngIf="beneficiary.civilStatus == 2">Viudo/a</span>
            <span ngbDropdownItem *ngIf="beneficiary.civilStatus == 3">Divorciado/a</span>
            <span ngbDropdownItem *ngIf="beneficiary.civilStatus == 4">Compromiso</span>
          </button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <option ngbDropdownItem (click)="beneficiary.civilStatus = -1" disabled>Escoger estado civil</option>
            <option ngbDropdownItem (click)="beneficiary.civilStatus = 0">Soltero/a</option>
            <option ngbDropdownItem (click)="beneficiary.civilStatus = 1">Casado/a</option>
            <option ngbDropdownItem (click)="beneficiary.civilStatus = 2">Viudo/a</option>
            <option ngbDropdownItem (click)="beneficiary.civilStatus = 3">Divorciado/a</option>
            <option ngbDropdownItem (click)="beneficiary.civilStatus = 4">Compromiso</option>
          </div>
        </div>
        <!--<select class="browser-default">
          <option value="" disabled selected>Escoge una opción</option>
          <option value="1">Soltero/a</option>
          <option value="2">Casado/a</option>
          <option value="3">Viudo/a</option>
          <option value="4">Divorciado/a</option>
          <option value="5">Compromiso</option>
        </select>-->
        <!-- <ng-multiselect-dropdown [placeholder]="'Escoger estado civil'" [data]="dropdownList"
          [(ngModel)]="selectedItems" [settings]="dropdowncivilstateSettings" (onSelect)="onItemSelect($event)"
          (onSelectAll)="onSelectAll($event)">
        </ng-multiselect-dropdown> -->
      </div>
    </div>

    <div class="col-sm-6 col-12">
      <div class="p-t-20">
        <div class="input-field">
          <label class="p-t-10" for="ocupación">Ocupación</label>
          <input [(ngModel)]="beneficiary.occupation" placeholder="" id="ocupación" type="text" class="validate">
        </div>
      </div>
      <div>
        <label class="black-16 fw-700 p-t-10">Escolaridad</label>
        <div ngbDropdown  placement="bottom-right" class="d-inline-block">
       <!--  <div ngbDropdown placement="top-right" class="d-inline-block"> -->
          <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>
            <span ngbDropdownItem *ngIf="beneficiary.scholarship == -1" disabled>Escoger escolaridad</span>
            <span ngbDropdownItem *ngIf="beneficiary.scholarship == 0">Educación primaria</span>
            <span ngbDropdownItem *ngIf="beneficiary.scholarship == 1">Educación secundaria</span>
            <span ngbDropdownItem *ngIf="beneficiary.scholarship == 2">Educación media superior</span>
            <span ngbDropdownItem *ngIf="beneficiary.scholarship == 3">Educación superior</span>
          </button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <option ngbDropdownItem (click)="beneficiary.scholarship = -1" disabled>Escoger escolaridad</option>
            <option ngbDropdownItem (click)="beneficiary.scholarship = 0">Educación primaria</option>
            <option ngbDropdownItem (click)="beneficiary.scholarship = 1">Educación secundaria</option>
            <option ngbDropdownItem (click)="beneficiary.scholarship = 2">Educación media superior</option>
            <option ngbDropdownItem (click)="beneficiary.scholarship = 3">Educación superior</option>
          </div>
        </div>
        <!--<select class="browser-default">
          <option value="" disabled selected>Escoge una opción</option>
          <option value="1">Educación primaria</option>
          <option value="2">Educación secundaria</option>
          <option value="3">Educación media superior</option>
          <option value="4">Educación superior</option>
        </select>-->
        <!-- <ng-multiselect-dropdown [placeholder]="'Escoger escolaridad'" [data]="dropdownList" [(ngModel)]="selectedItems"
          [settings]="dropdownscholarSettings" (onSelect)="onItemSelect($event)" (onSelectAll)="onSelectAll($event)">
        </ng-multiselect-dropdown> -->
      </div>
      <div>
        <div class="input-field">
          <label class="p-t-10" for="curp">CURP</label>
          <input [(ngModel)]="beneficiary.curp" placeholder="" id="curp" type="text" class="validate">
        </div>
      </div>
      <div>
        <div class="input-field">
          <label class="p-t-10" for="rfc">RFC</label>
          <input [(ngModel)]="beneficiary.rfc" placeholder="" id="rfc" type="text" class="validate">
        </div>
      </div>
    </div>
  </div>
  <div class="just-center p-t-20">
    <button (click)="save()" class="blu-btn fs-20px ">Guardar</button>
  </div>
  <!--Modal Añadir un familiar-->
</section>