<section class="main input-class">
  <div class="text-al-center p-b-20 ">
    <p class="black-24 fw-700">Expediente de Juan Perez</p>
  </div>
  <div class="row">
    <div class="col-sm-6 col-12 alitems-center">
      <p class="black-20 fw-700">Activo</p>
    </div>
    <div class="col-sm-6 col-12 just-flexend alitems-center btn-crud">
      <div class="p-r-10">
        <select class="browser-default">
          <option value="" disabled selected>Escoge un formulario</option>
          <option value="1">Formulario 2015</option>
          <option value="2">Formulario 2016</option>
          <option value="3">Formulario 2017</option>
          <option value="4">Formulario 2018</option>
          <option value="5">Formulario 2019</option>
        </select>
      </div>
      <div class="p-r-10">
        <button class="edit-btn" data-toggle="modal" data-target="#edit-modal"><i
            class="small material-icons">create</i></button>
      </div>
      <div class="p-r-10">
        <button class="trash-btn" data-toggle="modal" data-target="#delete-modal"><i
            class="small material-icons">delete</i></button>
      </div>
    </div>
  </div>
  <div class="side-line"></div>
  <div class="row p-t-20">
    <div class="col-sm-4 col-12">
      <img class="profile-img" src="/assets/images/dummy-profile.svg">
    </div>
    <div class="col-sm-4 col-12">
      <p class="black-16"><span class="fw-700">Nombre(s):</span> Juan</p>
      <p class="black-16"><span class="fw-700">Apellido paterno:</span>Perez</p>
      <p class="black-16"><span class="fw-700">Apellido materno:</span>Rosales</p>
      <p class="black-16"><span class="fw-700">Ocupación:</span>Estudiante</p>
      <div class="tittle">
        <button class="outline-blu-btn" data-toggle="modal" data-target="#evidence-modal">Ver evidencias</button>
      </div>
    </div>
    <div class="col-sm-4 col-12">
      <p class="black-16"><span class="fw-700">Folio del beneficiario:</span> 353535</p>
      <p class="black-16"><span class="fw-700">Folio del estudio:</span>353535</p>
      <p class="black-16"><span class="fw-700">Fecha de primer despensa:</span>20/07/2020</p>
      <p class="black-16"><span class="fw-700">Fecha del último estudio:</span>20/07/2020</p>
    </div>
    <div class="col-sm-4 col-12 movil-btn">
      <button>Ver evidencias</button>
    </div>
  </div>
  <div class="side-line"></div>
  <div class="row p-t-20">
    <div class="col-sm-4 col-12">
      <p class="black-16"><span class="fw-700">Sexo:</span> Masculino</p>
      <p class="black-16"><span class="fw-700">Teléfono 1:</span>6141234567</p>
      <p class="black-16"><span class="fw-700">Teléfono 2:</span>6141234567</p>
      <p class="black-16"><span class="fw-700">Estado civil:</span>Soltero</p>
      <p class="black-16"><span class="fw-700">Escolaridad:</span>Secundaria terminada</p>
      <p class="black-16"><span class="fw-700">Apoyos adicionales:</span>...</p>
    </div>
    <div class="col-sm-4 col-12">
      <p class="black-16"><span class="fw-700">Fecha de nacimiento:</span> 24/05/1984</p>
      <p class="black-16"><span class="fw-700">Edad:</span>58</p>
      <p class="black-16"><span class="fw-700">Adulto mayor(60 años):</span>No</p>
    </div>
  </div>
  <div class="side-line"></div>
  <div class="row p-t-20">
    <div class="col-sm-4 col-12">
      <p class="black-16"><span class="fw-700">Servicio médico:</span> ISSTE</p>
      <p class="black-16"><span class="fw-700">Enfermedades crónicas:</span>Diabetis, tiroides</p>
      <p class="black-16"><span class="fw-700">Persona con capacidades diferentes:</span>Si</p>
      <p class="black-16"><span class="fw-700">Tipo de discapacidad:</span> silla de ruedas</p>
    </div>
    <div class="col-sm-4 col-12">
      <p class="black-16"><span class="fw-700">Enfermedad que imposibilida trabajar:</span> Si</p>
      <p class="black-16"><span class="fw-700">Tipo de enfermedad:</span>Diabetis, tiroides</p>
    </div>
  </div>
  <div class="side-line"></div>
  <div class="row p-t-20">
    <div class="col-sm-4 col-12">
      <p class="black-16"><span class="fw-700">Domicilio:</span> Monte Everest 12345 Quintas Carolinas</p>
      <p class="black-16"><span class="fw-700">CURP:</span>SKDU6F56FDC56</p>
      <p class="black-16"><span class="fw-700">RFC:</span>SKDU6F56FDC56</p>
      <p class="black-16"><span class="fw-700">Ingreso Mensual:</span>$1600</p>
      <p class="black-16"><span class="fw-700">Ingreso Mensual Familiar:</span>$1600</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4 col-12">
      <p class="black-18 fw-700">Gastos mensuales</p>
      <p class="black-16"><span class="fw-700">Alimentación:</span>$1600</p>
      <p class="black-16"><span class="fw-700">Teléfono:</span>$1600</p>
      <p class="black-16"><span class="fw-700">Internet:</span>$1600</p>
      <p class="black-16"><span class="fw-700">Gasolina:</span>$1600</p>
      <p class="black-16"><span class="fw-700">Renta:</span>$1600</p>
      <p class="black-16"><span class="fw-700">abonos:</span>$1600</p>
    </div>
    <div class="col-sm-4 col-12">
      <p class="black-16"><span class="fw-700">Luz:</span>$1600</p>
      <p class="black-16"><span class="fw-700">Predial:</span>$1600</p>
      <p class="black-16"><span class="fw-700">Educación:</span>$1600</p>
      <p class="black-16"><span class="fw-700">Transporte:</span>$1600</p>
      <p class="black-16"><span class="fw-700">Agua:</span>$1600</p>
      <p class="black-16"><span class="fw-700">Gas:</span>$1600</p>
    </div>
    <div class="col-sm-4 col-12">
      <p class="black-16"><span class="fw-700">Gastos médicos:</span>$1600</p>
      <p class="black-16"><span class="fw-700">Cable TV:</span>$1600</p>
      <p class="black-16"><span class="fw-700">Vestido:</span>$1600</p>
      <p class="black-16"><span class="fw-700">Otros:</span>$1600</p>
    </div>
  </div>
  <div>
    <p class="black-18 fw-700">Familiares</p>
  </div>
  <div>
    <div class="table-responsive">
      <table class="table">
        <tr>
          <th scope="row">Nombre</th>
          <th>Edad</th>
          <th>Año de nacimiento</th>
          <th>Sexo</th>
          <th>Escolaridad</th>
          <th>Estado civil</th>
          <th>Ocupación</th>
          <th>Parentesco</th>
          <th>Aportación</th>
        </tr>
        <tr>
          <td>Maria</td>
          <td>15</td>
          <td>19/08/2005</td>
          <td>Femenino</td>
          <td>Secundaria</td>
          <td>Soltera</td>
          <td>Estudiante</td>
          <td>Hija</td>
          <td>Ninguna</td>
        </tr>
      </table>
    </div>
  </div>
  <div class="row p-t-20">
    <div class="col-sm-4 col-12">
      <p class="black-18 fw-700">Bienes familiares</p>
      <p><span><i class="small material-icons">check</i></span>Estuda o parrilla eléctrica</p>
      <p><span><i class="small material-icons">clear</i></span>Refrigerador</p>
      <p><span><i class="small material-icons">clear</i></span>Horno de microondas</p>
      <p><span><i class="small material-icons">clear</i></span>Lavadora</p>
      <p><span><i class="small material-icons">check</i></span>Automóvil</p>
      <p><span><i class="small material-icons">check</i></span>Computadora</p>
      <p><span><i class="small material-icons">clear</i></span>Televisión</p>
      <p><span><i class="small material-icons">check</i></span>Aire acondicionado</p>
    </div>
    <div class="col-sm-4 col-12">
      <p class="black-16"><span class="fw-700">Tipo de vivienda:</span>Propia</p>
      <p class="black-16"><span class="fw-700">Número de cuartos:</span>2</p>
      <p class="black-16"><span class="fw-700">Número de baños:</span>1</p>
      <p class="black-16"><span class="fw-700">Número de recamaras:</span>1</p>
      <p class="black-16"><span class="fw-700">Tiempo de vivir en la vivienda:</span>1 año</p>
    </div>
  </div>
  <div class="side-line"></div>
  <div class="row p-t-20">
    <div class="col-sm-4 col-12">
      <p class="black-18 fw-700">Condiciones de la vivienda</p>
      <p class="black-16"><span class="fw-700">Muros:</span>Ladrillos</p>
      <p class="black-16"><span class="fw-700">Piso:</span>Tierra</p>
      <p class="black-16"><span class="fw-700">Techo:</span>Losa</p>
      <p class="black-16"><span class="fw-700">Condiciones de los muebles:</span>Regular</p>
    </div>
    <div class="col-sm-8 col-12">
      <p class="black-16 fw-700">Descripción de la casa</p>
      <p class="black-14">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris pretium at sem ut euismod.
        Aenean venenatis sed lacus in iaculis. Vestibulum non nisl id magna blandit fermentum et ut dolor. Proin
        placerat, orci sit amet tempus accumsan, libero mi pharetra est, at venenatis turpis lorem ultrices sem. </p>
    </div>
  </div>
  <div>
    <ul class="collapsible">
      <li>
        <div class="collapsible-header">
          <i class="material-icons">arrow_drop_down</i>Diagnóstico del estudio socioeconómico
        </div>
        <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
      </li>
    </ul>
  </div>
  <!--delete-modal-->
  <div class="modal fade" id="delete-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          <h3 class="text-al-center">¿Seguro que deseas eleminar este beneficiario?</h3>
          <div class="just-center p-t-10">
            <img class="delete-img" src="/assets/images/sad_face.svg">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="grey-btn" data-dismiss="modal">Cancelar</button>
          <button type="button" class="blu-btn">Aceptar</button>
        </div>
      </div>
    </div>
  </div>
  <!--Edit-Modal-->
  <div class="modal fade" id="edit-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-body">
          <h3 class="text-al-center">Editar Beneficiario</h3>
          <div class="row p-t-10">
            <div class="col-md-6 col-12">
              <div class="just-center">
                <div class="img-box p-t-10">
                  <label for="img" class="fake-btn-img">
                    <img src="/assets/images/upload-img.svg">
                    <div class="overlay">
                      <p class="wht-20">subir foto</p>
                    </div>
                  </label>
                  <div class="input-box">
                    <input type="file" id="img" name="img" accept="image/*">
                  </div>
                </div>
              </div>
              <div class="p-t-30">
                <div class="input-field">
                  <input placeholder="" id="first_name" type="text" class="validate">
                  <label for="first_name">Nombre(s)</label>
                </div>
              </div>
              <div>
                <div class="input-field">
                  <input placeholder="" id="paterno" type="text" class="validate">
                  <label for="paterno">Apellido paterno</label>
                </div>
              </div>
              <div>
                <div class="input-field">
                  <input placeholder="" id="materno" type="text" class="validate">
                  <label for="materno">Apellido materno</label>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-12">

              <div class="p-t-10">
                <div class="input-box">
                  <label class="black-16 fw-700">Fecha de nacimiento</label>
                  <input type="date" id="start" name="trip-start" value="2018-07-22" min="2018-01-01" max="2018-12-31">
                </div>
              </div>
              <div class="radio-inputs">
                <p class="black-16 fw-700">Sexo</p>
                <div class="display-flex">
                  <div class="input-box">
                    <input type="radio" id="huey" name="drone" value="huey" checked>
                    <label for="huey">Femenino</label>
                  </div>
                  <div class="input-box p-l-15">
                    <input type="radio" id="dewey" name="drone" value="dewey">
                    <label for="dewey">Masculino</label>
                  </div>
                </div>
              </div>
              <div class="p-t-10">
                <label class="black-16 fw-700">Estado civil</label>
                <select class="browser-default">
                  <option value="" disabled selected>Escoge una opción</option>
                  <option value="1">Soltero/a</option>
                  <option value="2">Casado/a</option>
                  <option value="3">Viudo/a</option>
                  <option value="4">Divorciado/a</option>
                  <option value="5">Compromiso</option>
                </select>
              </div>
              <div>
                <div class="input-field">
                  <input id="icon_telephone1" type="tel" class="validate">
                  <label for="icon_telephone1">Teléfono 1</label>
                </div>
              </div>
              <div>
                <div class="input-field">
                  <input id="icon_telephone" type="tel" class="validate">
                  <label for="icon_telephone">Teléfono 2</label>
                </div>
              </div>
              <div>
                <label class="black-16 fw-700">Activo</label>
                <div class="switch">
                  <label>
                    No
                    <input type="checkbox">
                    <span class="lever"></span>
                    Si
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="grey-btn" data-dismiss="modal">Cancelar</button>
          <button type="button" class="blu-btn">Aceptar</button>
        </div>
      </div>
    </div>
  </div>
  <!--Evidence-modal-->
  <div class="modal fade" id="evidence-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          <h3 class="text-al-center">Evidencias</h3>
          <div class="p-t-10">
            <select class="browser-default">
              <option value="" disabled selected>Escoge el tipo de evidencia</option>
              <option value="1">Fotos del estudio</option>
              <option value="2">Fotos del beneficiario</option>
              <option value="3">Fotos de la vivienda </option>
              <option value="4">Fotos de comprobantes</option>
            </select>
          </div>
          <div class="p-t-20">
            <p class="black-16">Cantidad de fotos: 3</p>
          </div>
          <div class="p-t-20">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
              <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
              </ol>
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img src="/assets/images/dummy-profile.svg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                  <img src="/assets/images/dummy-profile.svg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                  <img src="/assets/images/dummy-profile.svg" class="d-block w-100" alt="...">
                </div>
              </div>
              <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="blu-btn" data-dismiss="modal">Aceptar</button>
        </div>
      </div>
    </div>
  </div>
</section>
