<div class="main-landing">
  <div class="box">
    <img class="logo" src="/assets/images/black-logo.svg">
    <div>
      <h3 class="blu-50 max-width-430">Contro de beneficiarios</h3>
      <div class="just-between p-t-20 p-b-30">
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
      </div>
      <p class="black-18 max-width-430 p-b-20">Sistema de control de beneficiarios diseñado para ayudar a la repartición
        de bienes alimenticios proporcionados
        por la agrupación Amigos de Asis.</p>
      <div>
        <a href="/#/main-login" class="login-btn"><span>Iniciar sesión</span></a>
      </div>
    </div>
    <div class="footer just-flexend">
      <div class="wd-50p just-between p-r-30 p-b-20">
        <a href="https://amigosdeasis.com/" class="black-24 fw-700 a-link-black route-link">Amigos de Asis</a>
        <a href="#" class="black-24 fw-700 a-link-black route-link">Acerca de nosotros</a>
        <a href="#" class="black-24 fw-700 a-link-black route-link">Contáctanos</a>
      </div>
    </div>
  </div>
  <div class="none">
    <div class="navbar">
      <div class="main-navbar">
          <img class="p-l-30" src="/assets/images/black-logo.svg">
          <a href="/#/main-login" class="border-gradient border-gradient-purple m-r-60">
            Iniciar sesión
          </a>
          <div class="outer-menu">
            <input class="checkbox-toggle" type="checkbox" />
            <div class="hamburger">
              <div></div>
            </div>
            <div class="menu">
              <div>
                <div>
                  <ul>
                    <li><a href="https://amigosdeasis.com/" class="black-24 fw-700 a-link-black route-link">Amigos de Asis</a></li>
                    <li><a href="#" class="black-24 fw-700 a-link-black route-link">Acerca de nosotros</a></li>
                    <li><a href="#" class="black-24 fw-700 a-link-black route-link">Contáctanos</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
    <div class="p-b-50 body">
      <div class="img-movil">
      </div>
      <div class="p-0-30 text-al-center m-t-50">
        <h3 class="blu-50 max-width-430 m-auto p-b-30">Contro de beneficiarios</h3>
        <div class="just-between p-t-20 p-b-30 max-width-430 m-auto">
          <div class="dot"></div>
          <div class="dot"></div>
          <div class="dot"></div>
        </div>
        <p class="black-18 max-width-430 p-b-20 m-auto ">Sistema de control de beneficiarios diseñado para ayudar a la
          repartición de bienes alimenticios proporcionados
          por la agrupación Amigos de Asis.</p>
      </div>
    </div>
    <div class="footer-movil text-al-center">
      <p>Amigos de Asis 2020</p>
    </div>
  </div>

