<section class="main input-class">
  <div class="text-al-center p-b-20 ">
    <p class="black-24 fw-700">Ajustes</p>
  </div>
  <div class="row">
    <div class="col-lg-6 col-md-12 col-12">
      <div>
        <div class="img-box">
          <label for="img" class="fake-btn-img">
            <img src="/assets/images/upload-img.svg">
            <div class="overlay">
              <p class="wht-20">subir foto</p>
            </div>
          </label>
          <div class="input-box">
            <input type="file" id="img" name="img" accept="image/*">
          </div>

        </div>
      </div>
      <div>
        <div class="input-field">
          <input placeholder="" id="first_name" type="text" class="validate">
          <label for="first_name">Nombre</label>
        </div>
      </div>
      <div>
        <div class="input-field">
          <input id="password1" type="password" class="validate">
          <label for="password1">Contraseña</label>
        </div>
      </div>
      <div>
        <div class="input-field">
          <input id="password2" type="password" class="validate">
          <label for="password2">Repetir contraseña</label>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-md-12 col-12">

    </div>
  </div>
  <div class="just-center p-t-50 ">
    <button class="blu-btn">Guardar</button>
  </div>

</section>
