/* You can add global styles to this file, and also import other style files */
body, p, h1, h2, h3{
  margin: 0;
}
/*display-flex*/
.just-between{
  display: flex;
  justify-content: space-between;
}
.just-flexend{
  display: flex;
  justify-content: flex-end;
}
.alitems-center{
  display: flex;
  align-items: center;
}
/*WIDTH & HEIGHT*/
.max-width-430{
  max-width: 430px;
  width: 100%;
}
.wd-50p{
  width: 50%;
}
/*BUTTONS*/
.login-btn-lan{
  background: linear-gradient(90deg, #02537E 0%, #874BCB 101.85%);
  border: none;
  outline: none;
  padding: .8em 10em;
  font-family: 'Noto Sans', sans-serif;
  color: white;
  font-size: 1em;
  font-weight: 700;
  cursor: pointer;
  transition: .3s ease-in-out;
  &:hover{
    background: linear-gradient(90deg, #874BCB 0%,  #02537E 101.85%);
  }
}
/*TEXT*/
.fw-700{
  font-weight: 700;
}
.text-al-center{
  text-align: center;
}
.blu-50{
  font-family: 'Noto Sans', sans-serif;
  color: #02537E;
  font-size: 50px;
}
.black-24{
  font-family: 'Noto Sans', sans-serif;
  color: #1F1835;
  font-size: 24px;
}
.black-18{
  font-family: 'Noto Sans', sans-serif;
  color: #1F1835;
  font-size: 18px;
}
.a-link-black{
  text-decoration: none;
  transition: .3s ease-in-out;
  &:hover{
    color: #5847BC;
  }
}
/*PADDING & MARGINS*/
.p-b-50{
  padding-bottom: 50px;
}
.p-b-30{
  padding-bottom: 30px;
}
.p-l-30{
  padding-left: 30px;
}
.p-r-30{
  padding-right: 30px;
}
.p-t-20{
  padding-top: 20px;
}
.p-b-20{
  padding-bottom: 20px;
}
.p-0-30{
  padding: 0 30px;
}
.m-r-60{
  margin-right: 60px;
}
.m-t-50{
  margin-top: 50px;
}
.m-r-10{
  margin-right: 10px;
}
.m-auto{
  margin: auto;
}
/*MEDIA QUERIES*/
@media screen and (max-width: 1500px){
  .main-landing{
    background-size: 80% !important;
  }
}
@media screen and (max-width: 1200px){
  .route-link{
    font-size: 18px !important;
  }
}
@media screen and (max-width: 992px){
  .main-landing{
    background: none !important;
    .box{
      display: none !important;
    }
  }
  .none{
    display: block !important;
  }
}
@media screen and(max-width: 576px){
  .border-gradient{
    padding: 5px 18px !important;
    font-size: .8em !important;
  }
  .blu-50{
    font-size: 25px;
    font-weight: 700;
  }
}
